body {
    background-color: #071e3d;
    color: #00ff00;
    font-family: monospace;
    text-align: center;
    margin: 0;
}

.container {
    width: 900px;
    max-width: 95%;
    margin: 50px auto;
    padding: 20px;
    background-color: #0a3559;
    border: 1px solid #00ff00;
}

input, button {
    padding: 10px;
    margin: 10px;
    border: 1px solid #00ff00;
    background: #092b4c;
    color: #00ff00;
}

button:hover, input[type="submit"]:hover {
    background: #00ff00;
    color: black;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #00ff00;
    padding: 8px;
}

.danger {
    color: red;
}

ul {
    text-align: left;
}