<!DOCTYPE html>
<html>
<head>
    <title>File Integrity Checker</title>

    <style>
        body {
            background:#071e3d;
            color:#00ff00;
            font-family:monospace;
            text-align:center;
        }

        table {
            margin:auto;
            border-collapse:collapse;
        }

        td {
            border:1px solid #00ff00;
            padding:10px;
        }

        .ok { color:#00ff00; }
        .bad { color:red; font-weight:bold; }
    </style>
</head>

<body>

<h1>File Integrity Checker</h1>

<form method="POST" enctype="multipart/form-data">
    <input type="file" name="file1" required><br><br>
    <input type="file" name="file2" required><br><br>
    <input type="submit" value="Compare">
</form>

{% if result %}
<h2>Results</h2>

<table>
<tr><td>File 1 MD5</td><td>{{ result.md5_1 }}</td></tr>
<tr><td>File 2 MD5</td><td>{{ result.md5_2 }}</td></tr>

<tr>
<td>MD5 Match</td>
<td class="{{ 'ok' if result.match_md5 else 'bad' }}">
{{ "MATCH" if result.match_md5 else "NOT MATCH" }}
</td>
</tr>

<tr><td>File 1 SHA256</td><td>{{ result.sha1 }}</td></tr>
<tr><td>File 2 SHA256</td><td>{{ result.sha2 }}</td></tr>

<tr>
<td>SHA256 Match</td>
<td class="{{ 'ok' if result.match_sha else 'bad' }}">
{{ "MATCH" if result.match_sha else "NOT MATCH" }}
</td>
</tr>
</table>
{% endif %}

<br>
<a href="/">⬅ Back</a>

</body>
</html>